#
# RCS info
# $Author: kpeabody $
# $Locker:  $
# $Date: 2014/03/14 15:14:14 $
# $Id: hosts.tmpl,v 1.14 2014/03/14 15:14:14 kpeabody Exp $
# $Revision: 1.14 $
# $State: Exp $
#
# 25-Jul-2006 S. Ahlert (CCR NA06-15801 Issue 2-999)  
#                        Add Baytech 3rd Unit for B9.
#
# 03-Jan-2012 S.F. Enders (Issue 2-757)
#                          Correct initial Build 13 error
#
# 06-Mar-2012 S.F. Enders (CCR NA12-00099 Issue 2-808) Fix KVBX frhubrtr 3rd octet.
#
# 28-Mar-2013 S.F. Enders (CCR NA12-00185 Issue I4-005) Dod MSCF Migration
#
# This template is used for generating site-dependent "hosts"
SET _gdc_include = rpg_net_vars.def
SET _gdc_set_interpreting = !-# indent=
SET _gdc_install_file = /etc/hosts
#
# Internet host table
#
127.0.0.1	localhost  loopback loghost

172.25.$SUBNET_ID.1    rpg rpga rpg1 rpga1 rpg1-$site_name rpga1-$site_name rpg1-$site_name.nexrad.noaa.gov rpga1-$site_name.nexrad.noaa.gov bcaster
172.25.$SUBNET_ID.2    ups      ups1     ups1-$site_name      ups1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.3    pwradm   pwradm1  pwradm1-$site_name   pwradm1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.4    csu      csu1     csu1-$site_name      csu1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.5    conserv  conserv1 conserv1-$site_name  conserv1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.6    lan      lan1     lan1-$site_name      lan1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.7    rtr      rtr1     rpgrtr         rpgrtr1  rpgrtr1-$site_name   rpgrtr1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.9    mpsa     mps1a    mps1a-$site_name     mps1a-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.10   mpsb     mps1b    mps1b-$site_name     mps1b-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.11   mpsc     mps1c    mps1c-$site_name     mps1c-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.12   diomodule diomodule1 diomodule1-$site_name diomodule1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.14   rpg-eth1 rpga-eth1 rpga1-eth1 rpg1-eth1  rpg1-eth1-$site_name  rpg1-eth1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.15   rpg-dod  rpga-dod  rpga1-dod  rpg1-dod  rpg1-dod-$site_name  rpg1-dod-$site_name.nexrad.noaa.gov

IF ADMSCF: {
172.25.$SUBNET_ID.20   mscf           mscf-$site_name         mscf-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.21   printer        printer-$site_name      printer-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.23   printer-out    printer-out-$site_name  printer-out-$site_name.nexrad.noaa.gov
}  
ELSE: {
172.25.$MSCF_IP_O3.$MSCF_IP_O4   mscf          mscf-$site_name         mscf-$site_name.nexrad.noaa.gov
172.25.$MSCF_IP_O3.21   printer       printer-$site_name      printer-$site_name.nexrad.noaa.gov
172.25.$MSCF_IP_O3.23   printer-out   printer-out-$site_name  printer-out-$site_name.nexrad.noaa.gov
}

172.25.$SUBNET_ID.22   rpgb     rpgb1    rpgb1-$site_name     rpgb1-$site_name.nexrad.noaa.gov
#
# MSCF Dial-In
#
172.25.$SUBNET_ID.26   dial             dial-$site_name        dial-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.28   dial-client      dial-client-$site_name dial-client-$site_name.nexrad.noaa.gov

#
# Sonicwall entries - Client BDDS/LDM IP addresses
#
172.25.$MSCF_IP_O3.32   sonicwall    sonicwall-$site_name    sonicwall-$site_name.nexrad.noaa.gov
172.25.$MSCF_IP_O3.33   sonicwall2   sonicwall2-$site_name   sonicwall2-$site_name.nexrad.noaa.gov

#
# BDDS Class C entries.
#
192.168.$SUBNET_ID.22  bdds-out          wbserv

#
# 46 - 56 are reserved for future route entries
#

#Baytechs FAA Only
172.25.$SUBNET_ID.60   rmspwradm1a  rmspwradm1a-$site_name  rmspwradm1a-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.61   rmspwradm1b  rmspwradm1b-$site_name  rmspwradm1b-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.62   rmspwradm1c  rmspwradm1c-$site_name  rmspwradm1c-$site_name.nexrad.noaa.gov

172.25.$SUBNET_ID.71   rpg2 rpga2 rpg2-$site_name rpga2-$site_name rpg2-$site_name.nexrad.noaa.gov #bcaster
172.25.$SUBNET_ID.72   ups2         ups2-$site_name         ups2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.73   pwradm2      pwradm2-$site_name      pwradm2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.74   csu2         csu2-$site_name         csu2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.75   conserv2     conserv2-$site_name     conserv2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.76   lan2         lan2-$site_name         lan2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.77   rtr2         rpgrtr2           rpgrtr2-$site_name   rpgrtr2-$site_name.nexrad.noaa.gov

172.25.$SUBNET_ID.79   mps2a        mps2a-$site_name        mps2a-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.80   mps2b        mps2b-$site_name        mps2b-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.81   mps2c        mps2c-$site_name        mps2c-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.82   diomodule2   diomodule2-$site_name   diomodule2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.83   rpgb2        rpgb2-$site_name        rpgb2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.84   rpg2-eth1 rpga2-eth1 rpg2-eth1-$site_name    rpg2-eth1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.85   rpg2-dod  rpga2-dod  rpg2-dod-$site_name  rpg2-dod-$site_name.nexrad.noaa.gov

#Baytechs FAA Only
172.25.$SUBNET_ID.90   rmspwradm2a  rmspwradm2a-$site_name  rmspwradm2a-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.91   rmspwradm2b  rmspwradm2b-$site_name  rmspwradm2b-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.92   rmspwradm2c  rmspwradm2c-$site_name  rmspwradm2c-$site_name.nexrad.noaa.gov

IF KVBX:{
172.21.142.100  frhubrtr     frhubrtr-$site_name     frhubrtr-$site_name.nexrad.noaa.gov
}
ELSE:{
172.25.$MSCF_IP_O3.100  frhubrtr     frhubrtr-$site_name     frhubrtr-$site_name.nexrad.noaa.gov
}

#
# BDDS clients -- should only be accessible from the BDDS --
#
192.168.$SUBNET_ID.23  bdds_client1 bdds_client1-$site_name bdds_client1-$site_name.nexrad.noaa.gov
192.168.$SUBNET_ID.24  bdds_client2 bdds_client2-$site_name bdds_client2-$site_name.nexrad.noaa.gov
192.168.$SUBNET_ID.25  bdds_client3 bdds_client3-$site_name bdds_client3-$site_name.nexrad.noaa.gov
192.168.$SUBNET_ID.26  bdds_client4 bdds_client4-$site_name bdds_client4-$site_name.nexrad.noaa.gov

#
# Future ideas? 
#
172.25.$SUBNET_ID.110  dodmscf      dodmscf-$site_name      dodmscf-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.111  dodbdds      dodbdds-$site_name      dodbdds-$site_name.nexrad.noaa.gov

IF ROC: {
#
# Following are for wideband simulators plugged into LAN switch
#
172.25.$SUBNET_ID.121  wbs1 wbsim1 wbsim1-$site_name
172.25.$SUBNET_ID.122  wbs2 wbsim2 wbsim2-$site_name
}
#
# 116-120, 123-126 are reserved for future route entries
#
#
# RDA network nodes
#
172.25.$SUBNET_ID.134  rda rda1  rcp  rcp1   rda1-$site_name    rda1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.130  rdalan  rdalan1       rdalan1-$site_name rdalan1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.131  rdartr  rdartr1       rdartr1-$site_name rdartr1-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.234  rda2    rcp2          rda2-$site_name    rda2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.230  rdalan2               rdalan2-$site_name rdalan2-$site_name.nexrad.noaa.gov
172.25.$SUBNET_ID.231  rdartr2               rdartr2-$site_name rdartr2-$site_name.nexrad.noaa.gov

# Following is for wideband simulator plugged into router
172.25.$SUBNET_ID.132  wbs                   wbs-$site_name     wbs-$site_name.nexrad.noaa.gov

# Following entries are for backup comms
IF AC_SITE: {
$RPG_AC_RTR	rpg_ac_rtr	rpg_ac_rtr-$site_name      rpg_ac_rtr-$site_name.nexrad.noaa.gov
$RPG_AC_IP	rpg_ac_ip	rpg_ac_ip-$site_name      rpg_ac_ip-$site_name.nexrad.noaa.gov
IF NWS:{
$RDA_AC_RTR	rda_ac_rtr	rda_ac_rtr-$site_name      rda_ac_rtr-$site_name.nexrad.noaa.gov
$RDA_AC_IP	rda_ac_ip	rda_ac_ip-$site_name      rda_ac_ip-$site_name.nexrad.noaa.gov
 }
IF DOD:{
$FR_AC_RTR	fr_ac_rtr	fr_ac_rtr-$site_name      fr_ac_rtr-$site_name.nexrad.noaa.gov
$FR_AC_IP	fr_ac_ip	fr_ac_ip-$site_name      fr_ac_ip-$site_name.nexrad.noaa.gov
 }
}
