#
# RCS info
# $Author: cparish $
# $Locker:  $
# $Date: 2014/09/02 19:32:42 $
# $Id: hub2_ios.tmpl,v 1.1 2014/09/02 19:32:42 cparish Exp $
# $Revision: 1.1 $
# $State: Exp $
#
# This is the template file for installing the FR hub router IOS
#
#
SET _gdc_include = rpg_net_vars.def
SET NEED_HUB_IOS = NO
IF NODE_NAME==mscf: {
    IF HLMANUAL HLMSCF: SET NEED_HUB_IOS = YES
}
IF NODE_NAME==rpga: {
    IF HLRPG: SET NEED_HUB_IOS = YES
}
IF NEED_HUB_IOS: {
    IF DDMSCF: {
        SET _gdc_install_file = link /tftpboot/c2600-ik9s-mz.122-26c.bin
        SET _gdc_import_from = binary c2600-ik9s-mz.122-26c.bin
    }
    ELSE: {
        SET _gdc_install_file = link /tftpboot/c2900-universalk9-mz.SPA.151-4.M5.bin
        SET _gdc_import_from = binary c2900-universalk9-mz.SPA.151-4.M5.bin
    }
}
