#
# RCS info
# $Author: cm $
# $Locker:  $
# $Date: 2013/03/29 20:32:12 $
# $Id: hub_ios.tmpl,v 1.4 2013/03/29 20:32:12 cm Exp $
# $Revision: 1.4 $
# $State: Exp $
#
# This is the template file for installing the FR hub router IOS
#
#
SET _gdc_include = rpg_net_vars.def
SET NEED_HUB_IOS = NO
IF NODE_NAME==mscf: {
    IF HLMANUAL HLMSCF: SET NEED_HUB_IOS = YES
}
IF NODE_NAME==rpga: {
    IF HLRPG: SET NEED_HUB_IOS = YES
}
IF NEED_HUB_IOS: {
    IF DDMSCF: {
        SET _gdc_install_file = link /tftpboot/c2600-ik9s-mz.122-26c.bin
        SET _gdc_import_from = binary c2600-ik9s-mz.122-26c.bin
    }
    ELSE: {
        SET _gdc_install_file = link /tftpboot/c2600-i-mz.122-19b.bin
        SET _gdc_import_from = binary c2600-i-mz.122-19b.bin
    }
}
