# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:20 $
# $Id: ifcfg-eth0.1.tmpl,v 1.2 2011/01/03 19:46:20 jing Exp $
# $Revision: 1.2 $
# $State: Exp $
#
# This template is used for generating site-dependent ifcfg-eth0:1
SET _gdc_set_interpreting = !-# 
SET _gdc_install_file = /etc/sysconfig/network-scripts/ifcfg-eth0:1 on rpga
#
DEVICE=eth0:1
IF FAA_CH2: {
    IPADDR=172.25.$SUBNET_ID.85
    GATEWAY=172.25.$SUBNET_ID.77
}
ELSE: {
    IPADDR=172.25.$SUBNET_ID.15
    GATEWAY=172.25.$SUBNET_ID.7
}
