# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:21 $
# $Id: ifcfg-eth1.tmpl,v 1.3 2011/01/03 19:46:21 jing Exp $
# $Revision: 1.3 $
# $State: Exp $
#
# This template is used for generating site-dependent ifcfg-eth1
SET _gdc_set_interpreting = !-# 
SET _gdc_install_file = /etc/sysconfig/network-scripts/ifcfg-eth1 on rpgb 
#

IF FAA_CH2: 	SET ip = 83
ELSE:		SET ip = 22

DEVICE=eth1
BOOTPROTO=static
IPADDR=192.168.$SUBNET_ID.$ip
NETMASK=255.255.255.0
ONBOOT=yes
TYPE=Ethernet

