# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:20 $
# $Id: ifcfg-eth0.0.tmpl,v 1.3 2011/01/03 19:46:20 jing Exp $
# $Revision: 1.3 $
# $State: Exp $
#
# This template is used for generating site-dependent ifcfg-eth0:0
SET _gdc_set_interpreting = !-# 
SET _gdc_install_file = /etc/sysconfig/network-scripts/ifcfg-eth0:0 on rpga
#
DEVICE=eth0:0
IF FAA_CH2: {
    IPADDR=172.25.$SUBNET_ID.84
    GATEWAY=172.25.$SUBNET_ID.77
}
ELSE: {
    IPADDR=172.25.$SUBNET_ID.14
    GATEWAY=172.25.$SUBNET_ID.7
}
