# RCS info
# $Author: cm $
# $Locker:  $
# $Date: 2013/03/29 20:32:15 $
# $Id: ifcfg-ppp0.tmpl,v 1.4 2013/03/29 20:32:15 cm Exp $
# $Revision: 1.4 $
# $State: Exp $
#
# This template is used for generating site-dependent ifcfg-ppp0
SET _gdc_include = rpg_net_vars.def
SET _gdc_set_interpreting = !-# 

IF DDMSCF: {
    SET _gdc_install_file = /etc/sysconfig/network-scripts/ifcfg-ppp0 on mscf
    DEVICE=ppp0
    ONBOOT=no
    MODEMPORT=/dev/ttyS0
    LINESPEED=115200
    PERSIST=yes
    MAXFAIL=0
    HOLDOFF=5
}
ELSE: {
    IF ADMSCF: {
        SET _gdc_install_file = /etc/sysconfig/network-scripts/ifcfg-ppp0 on mscf
        DEVICE=ppp0
        ONBOOT=yes
        MODEMPORT=/dev/ttyS0
        LINESPEED=115200
        PERSIST=yes
        MAXFAIL=0
        HOLDOFF=5
    }
}


