#
# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:21 $
# $Id: lan_ios.tmpl,v 1.3 2011/01/03 19:46:21 jing Exp $
# $Revision: 1.3 $
# $State: Exp $
#
# This is the template file for installing the LAN switch IOS
#
SET _gdc_install_file = link /tftpboot/c3560-ipbasek9-mz.122-25.SEB4.bin on rpga
SET _gdc_import_from = binary c3560-ipbasek9-mz.122-25.SEB4.bin
!
