#
# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:22 $
# $Id: mps.conf.tmpl,v 1.3 2011/01/03 19:46:22 jing Exp $
# $Revision: 1.3 $
# $State: Exp $
#
# This is the template file for mps.conf
SET _gdc_set_interpreting = #-! indent=
SET _gdc_install_file = cfg/mps.conf on rpga rpgb

# Main configuration file for the PTI communications servers

# line: line index from the comms_link.conf table

# SNID: Subnet ID associated with the physical port

# Comms Server: ip address or network name of the PTI device

# NOTE: the full file names for the WAN conf, LAPB conf, and X25 conf are
# created by adding ".<packet size>" to the name listed. configuration 
# files are currently available for packet sizes of 
# 128 (standard narrowband) and 512 (satellite narrowband)

# WAN conf: prefix of the wan configuration file for this line.

# LAPB conf: prefix of the lapb configuration file for this line.

# X25 conf: prefix of the X.25 configuration file for this line.

! Comms Server name and power admin name
SET CSN = mps1
SET PWRADM = pwradm
IF FAA_CH2: {
    SET CSN = mps2
    SET PWRADM = pwradm2
}

Conf_file_dir	$(HOME)/cfg

# line	SNID	Comms Server	WAN conf	LAPB conf	X25 conf
1	A	${CSN}a		mps.wan		mps.lapb	mps.x25
2	B	${CSN}a		mps.wan		mps.lapb	mps.x25
3	C	${CSN}a		mps.wan		mps.lapb	mps.x25
4	D	${CSN}a		mps.wan		mps.lapb	mps.x25
5	E	${CSN}a		mps.wan		mps.lapb	mps.x25
6	F	${CSN}a		mps.wan		mps.lapb	mps.x25
7	G	${CSN}a		mps.wan		mps.lapb	mps.x25
8	H	${CSN}a		mps.wan		mps.lapb	mps.x25

9	I	${CSN}b		mps.wan		mps.lapb	mps.x25
10	J	${CSN}b		mps.wan		mps.lapb	mps.x25
11	K	${CSN}b		mps.wan		mps.lapb	mps.x25
12	L	${CSN}b		mps.wan		mps.lapb	mps.x25
13	M	${CSN}b		mps.wan		mps.lapb	mps.x25
14	N	${CSN}b		mps.wan		mps.lapb	mps.x25
15	O	${CSN}b		mps.wan		mps.lapb	mps.x25
16	P	${CSN}b		mps.wan		mps.lapb	mps.x25

17	Q	${CSN}c		mps.wan		mps.lapb	mps.x25
18	R	${CSN}c		mps.wan		mps.lapb	mps.x25
19	S	${CSN}c		mps.wan		mps.lapb	mps.x25
20	T	${CSN}c		mps.wan		mps.lapb	mps.x25
21	U	${CSN}c		mps.wan		mps.lapb	mps.x25
22	V	${CSN}c		mps.wan		mps.lapb	mps.x25
23	W	${CSN}c		mps.wan		mps.lapb	mps.x25
24	X	${CSN}c		mps.wan		mps.lapb	mps.x25

25	Y	${CSN}d		mps.wan		mps.lapb	mps.x25
26	Z	${CSN}d		mps.wan		mps.lapb	mps.x25
27	AA	${CSN}d		mps.wan		mps.lapb	mps.x25
28	AB	${CSN}d		mps.wan		mps.lapb	mps.x25
29	AC	${CSN}d		mps.wan		mps.lapb	mps.x25
30	AD	${CSN}d		mps.wan		mps.lapb	mps.x25
31	AE	${CSN}d		mps.wan		mps.lapb	mps.x25
32	AF	${CSN}d		mps.wan		mps.lapb	mps.x25

33	AG	${CSN}e		mps.wan		mps.lapb	mps.x25
34	AH	${CSN}e		mps.wan		mps.lapb	mps.x25
35	AI	${CSN}e		mps.wan		mps.lapb	mps.x25
36	AJ	${CSN}e		mps.wan		mps.lapb	mps.x25
37	AK	${CSN}e		mps.wan		mps.lapb	mps.x25
38	AL	${CSN}e		mps.wan		mps.lapb	mps.x25
39	AM	${CSN}e		mps.wan		mps.lapb	mps.x25
40	AN	${CSN}e		mps.wan		mps.lapb	mps.x25

41	AO	${CSN}f		mps.wan		mps.lapb	mps.x25
42	AP	${CSN}f		mps.wan		mps.lapb	mps.x25
43	AQ	${CSN}f		mps.wan		mps.lapb	mps.x25
44	AR	${CSN}f		mps.wan		mps.lapb	mps.x25
45	AS	${CSN}f		mps.wan		mps.lapb	mps.x25
46	AT	${CSN}f		mps.wan		mps.lapb	mps.x25
47	AU	${CSN}f		mps.wan		mps.lapb	mps.x25
48	AV	${CSN}f		mps.wan		mps.lapb	mps.x25

# specify commands for powercycle of the PTI devices through the power
# administrator.  If not specified, a software reset is attempted.
# _ms - APC MasterSwitch
# _msp - APC MasterSwitch Plus

Pv_cmd "snmpwalk -m ALL -c npios -v 1 $PWRADM sysObjectID"
${CSN}a_ms snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletCtl.4 i 3
${CSN}a_msp snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletControlMSPOutletCommand.1.1.4 i 5
${CSN}b_ms snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletCtl.7 i 3
${CSN}b_msp snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletControlMSPOutletCommand.1.1.7 i 5
${CSN}c_ms snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletCtl.8 i 3
${CSN}c_msp snmpset -m ALL -c npios -v 1 $PWRADM sPDUOutletControlMSPOutletCommand.1.1.8 i 5
