# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:22 $
# $Id: netlog.tmpl,v 1.2 2011/01/03 19:46:22 jing Exp $
# $Revision: 1.2 $
# $State: Exp $
#
# This template is used for generating site-dependent netlog 
SET _gdc_set_interpreting = !-#
SET _gdc_install_file = /etc/logrotate.d/netlog
#
#
IF NODE_NAME==rpga: {
/syslog/rpg_rtr.log /syslog/fr_rtr.log /syslog/lan_sw.log {
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
        /bin/kill -HUP `cat /var/run/rsyslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}
}
