# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:22 $
# $Id: network.tmpl,v 1.5 2011/01/03 19:46:22 jing Exp $
# $Revision: 1.5 $
# $State: Exp $
#
# This template is used for generating site-dependent "network"
SET _gdc_include = rpg_net_vars.def
SET _gdc_set_interpreting = !-#
SET _gdc_install_file = /etc/sysconfig/network
#

IF NODE_NAME==mscf: {

    IF  ADMSCF:        SET O3 = ${SUBNET_ID}
    ELSEIF FAA DOD:    SET O3 = ${MSCF_IP_O3}
    ELSE:              SET O3 = ${SUBNET_ID}

    SET CN = 
    IF ADMSCF:   SET O4 = 0
    ELSEIF NWS:	 SET O4 = 7
    ELSE:	 SET O4 = 100
}
ELSE: {
    SET O3 = ${SUBNET_ID}

    IF FAA_CH2: {
	SET CN = 2
	SET O4 = 77
    }
    ELSE: {
	SET CN = 1
	SET O4 = 7
    }
}


NETWORKING=yes
HOSTNAME=${NODE_NAME}${CN}-$site_name
GATEWAY=172.25.$O3.$O4
