# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:23 $
# $Id: rssd.conf.tmpl,v 1.5 2011/01/03 19:46:23 jing Exp $
# $Revision: 1.5 $
# $State: Exp $
#
# This template is used for generating site-dependent rssd.conf.
SET _gdc_set_interpreting = !-#
SET _gdc_install_file = .rssd.conf
#

IF FAA: {
    Client: rpga1
    Client: rpga2
    Client: rpgb1
    Client: rpgb2
    Client: mscf
}
ELSE: {
    Client: rpga
    Client: rpgb
    Client: mscf
}
^
Disconnect timer: 8
^
Path: ${HOME}/data
Path: ${HOME}/save_logs
Path: ${HOME}/security_logs
Path: ${HOME}/cfg
Path: /proc

