#
# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:23 $
# $Id: rtr_3640_ios.tmpl,v 1.2 2011/01/03 19:46:23 jing Exp $
# $Revision: 1.2 $
# $State: Exp $
#
# This is the template file for installing the rpg router 3640 IOS
#
SET _gdc_install_file = link /tftpboot/c3640-i-mz.122-19b.bin on rpga
SET _gdc_import_from = binary c3640-i-mz.122-19b.bin
!
