#
# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:23 $
# $Id: rtr_ios.tmpl,v 1.4 2011/01/03 19:46:23 jing Exp $
# $Revision: 1.4 $
# $State: Exp $
#
# This is the template file for installing the rpg router IOS
#
SET _gdc_install_file = link /tftpboot/c3825-advipservicesk9-mz.124-15.T5.bin on rpga
SET _gdc_import_from = binary c3825-advipservicesk9-mz.124-15.T5.bin
!
