# RCS info
# $Author: jing $
# $Locker:  $
# $Date: 2011/01/03 19:46:23 $
# $Id: site_data.tmpl,v 1.2 2011/01/03 19:46:23 jing Exp $
# $Revision: 1.2 $
# $State: Exp $
#
# This template is used for generating site-dependent site_data.
SET _gdc_include = rpg_net_vars.def
SET _gdc_set_interpreting = !-#
SET _gdc_print_variables = 
SET _gdc_install_file = cfg/site_data
#

This is the site data
